{% extends 'navigation/navigation.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Room: {{ room.name }}</title>
{% endblock title %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'rooms/css/main.css' %}" type="text/css">
    <script src="{% static 'rooms/js/room.js' %}"></script>  <!-- Import the JavaScript file -->
</head>

<body>
    <h1>{{ room.name }}</h1>
    <p>Min Pax: {{ room.min_pax }} Max Pax: {{ room.max_pax }}</p>
    <img src="{{ room.image.url }}">
    <h1>Available TimeSlot</h1>

    {% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.timeslots|as_crispy_field }}
        {{ form.number_of_users|as_crispy_field }}
        <input type="hidden" id="current-username" value="{{ request.user.username }}">
        <div id="usernames-container">
            <!-- Username fields will be appended here -->
        </div>
        {% if form.timeslots.errors %}
            <div id="error_1_id_timeslots">{{ form.timeslots.errors }}</div>
        {% endif %}
        <button type="submit" id="sub" onclick="this.disabled=true; this.form.submit();">Add to Booking</button>
    </form>
    {% else %}
    <p>No available timeslots for booking.</p>
    {% endif %}
</body>
{% endblock content %}
