{% extends 'navigation/navigation.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Room: {{ room.name }}</title>
{% endblock title %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'rooms/css/main.css' %}" type="text/css">
    <script>
        function updateUsernameFields() {
            const numberOfUsers = parseInt(document.getElementById('id_number_of_users').value);
            const usernamesContainer = document.getElementById('usernames-container');
            usernamesContainer.innerHTML = ''; // Clear any existing content

            for (let i = 1; i <= numberOfUsers; i++) {
                const label = document.createElement('label');
                label.textContent = `Username ${i}: `;
                const input = document.createElement('input');
                input.type = 'text';
                input.name = `username_${i}`;
                input.id = `id_username_${i}`;
                input.maxLength = 100;
                input.className = 'form-control';  // Apply Bootstrap styling
                input.required = true;
                usernamesContainer.appendChild(label);
                usernamesContainer.appendChild(input);
                usernamesContainer.appendChild(document.createElement('br'));
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            updateUsernameFields(); // Update fields on initial load based on initial number of users
            document.getElementById('id_number_of_users').addEventListener('change', updateUsernameFields);
        });
    </script>
</head>

<body>
    <h1>{{ room.name }}</h1>
    <p>Min Pax: {{ room.min_pax }} Max Pax: {{ room.max_pax }}</p>
    <img src="{{ room.image.url }}">
    <h1>Available TimeSlot</h1>

    {% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.timeslots|as_crispy_field }}
        {{ form.number_of_users|as_crispy_field }}
        <div id="usernames-container">
            <!-- Username fields will be appended here -->
        </div>
        {% if form.timeslots.errors %}
            <div id="error_1_id_timeslots">{{ form.timeslots.errors }}</div>
        {% endif %}
        <button type="submit" id="sub" onclick="this.disabled=true; this.form.submit();">Add to Booking</button>
    </form>
    {% else %}
    <p>No available timeslots for booking.</p>
    {% endif %}
</body>
{% endblock content %}
