{% extends 'navigation\navigation.html' %}
{% load static %}

{% block title %}
<title>Rooms</title>
{% endblock title %}

{% block content %}

<style>
    .rooms_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 25px;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .room {
        box-sizing: border-box;
    }
    .room img {
        width: 100%;
        height: auto;
    }
    h1 {
        margin-left: 260px;
    }
    
</style>

<body>
    <h1>Rooms</h1>
    {# Check if got rooms #}
    {% if rooms %}
        <div class="rooms_container">
        {# Iterate through rooms #}
        {% for room in rooms %}
            <div class="room">
                {# Check for rooms that are currently unavailable #}
                {% if room.id in available_rooms %}
                <a class="unavailable_rooms_link" href="{% url 'room' room.id %}">
                    <img src="{{ room.image.url }}">
                    <div class = "room_info"></div>
                        <h3>{{room.name}}</h3>
                        <p>{{room.min_pax}} - {{room.max_pax}} Pax</p>
                </a>
                {% else %}
                <a class="unavailable_rooms_link" href="{% url 'room' room.id %}">
                    <img src="{{ room.image.url }}">
                    <h4>{{room.name}} : Currently Unavailable</h4>
                    <p>{{room.min_pax}} - {{room.max_pax}} Pax</p>
                </a>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    
    {# If there is no room display message#}
    {% else %}
        <p>No Room</p>
    {% endif %}
    
</body>

{% endblock %}