/* styles.css */

#auth_form {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#auth_form_side{
    border-radius: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
}


#sub {
    width: 150px;
}

#signup_bot{
    margin-top: 30px;
}

.form-group{
    margin-bottom: 10px;
    
}

.google-btn {
    display: inline-flex;
    align-items: center;
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}
.google-logo {
    width: 24px;  /* Increased size for better visibility */
    height: 24px; /* Increased size for better visibility */
    margin-right: 8px;
}
.google-btn:hover {
    background-color: #357ae8;
}

