{% extends 'navigation/navigation.html' %}
{% load static %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<h1>Profile</h1>
<form method="post" action="#">
    {% csrf_token %}
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" required>
    </p>
    <p>
        <label for="password">Password:</label>
        <a href="#">Change Password</a>
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" required>
    </p>
    <button type="submit">Save</button>
</form>
{% endblock %}