{% extends 'navigation/navigation.html' %}
{% load static %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'profile/css/main.css' %}" type="text/css">

<div id="profile-view">
    <h1>Profile</h1>
    <p>
        <strong>Username:</strong> {{ user.username }}
    </p>
    <p>
        <strong>Password:</strong> 
    </p>
    <p>
        <strong>Email:</strong> {{ user.email }}
    </p>
    <p>
        <strong>Daily Booking Hours Left:</strong>
        <span>
            {{ booking_hours_left }} hours left
        </span>
    </p>
    <form method="post" action="{% url 'request_password_change' %}">
        {% csrf_token %}
        <button type="submit" onclick="this.disabled=true; this.form.submit();">Change Password</button>
        <button id="edit-button">Edit Profile</button>
    </form>
    
</div>

<div id="profile-edit" style="display: none;">
    <form method="post" action="{% url 'profile_update' %}">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required>
        </p>
        <button type="submit">Save</button>
        <button type="button" id="cancel-button">Cancel</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Handle Edit Profile button click
        document.getElementById('edit-button').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default behavior (form submission)

            // Add logic to toggle between profile view and edit mode
            document.getElementById('profile-view').style.display = 'none';
            document.getElementById('profile-edit').style.display = 'block';
        });
        // Optional: If you have a Cancel button to revert profile changes
        document.getElementById('cancel-button').addEventListener('click', function() {
            document.getElementById('profile-view').style.display = 'block';
            document.getElementById('profile-edit').style.display = 'none';
        });
    });
</script>
{% endblock %}
