/* Updated CSS styles for timeslot display */
.timeslot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timeslot {
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.timeslot p {
    margin: 5px 0;
    font-weight: bold;
    color: lightblue;
}

.tcenter{
    text-align: center;
}

/* styles.css */

/* 返回按钮样式 */
.back-to-rooms {
    position: absolute;
    top: 30px;
    left: 10px;
    text-decoration: none;
    color: #333; /* 设置按钮文字颜色 */
}

.back-to-rooms i {
    margin-right: 5px; /* 图标与文字之间的右边距 */
}
