{% extends 'navigation\navigation.html' %}
{% load static %}

{% block title %}
<title>Annoucement:{{ announcement.title }}</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/main2.css' %}" type="text/css">
<body>
    <div class="announcement-container">
        <h1>Title: {{ announcement.title }}</h1>
        <img src="{{ announcement.image.url }}" alt="Announcement Image">
        <p>Date & Time: {{ announcement.datetime }}</p>
        <p>Description: {{ announcement.description }}</p>
    </div>
    
</body>
{% endblock %}